body
{
    background-image: url("img/hexellence.png"); /*DODANIE TLA POBRANEGO Z INTERNETU DLA CALOSCI STRONY*/
    font-size: 20px; /*ROZMIAR CZCIONKI*/
}
#container
{
    background-color: #ffffff; /*BIALY KOLOR TLA DIVA CONTAINER*/
    width: 300px; /*SZEROKOSC DIVA CONTAINER*/
    padding: 50px; /*WYPELNIENIE WEWNETRZNE*/
    margin-left: auto; /*WYSRODKOWANIE NA EKRANIE*/
    margin-right: auto; /*WYSRODKOWANIE NA EKRANIE*/
    margin-top: 100px; /*MARGINES GORNY*/
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); /*SILNIK RENDEROWANIA STRON WWW UZYTY M.IN.: W CHROME, SAFARI, OPERA*/
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); /*MOZ= MOZILLA FIREFOX */
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); /*CIENIE WOKOL POLA, ROZMYCIE CIENIA I JEGO KOLOR, 3 LINIE ZE WZGLEDU NA KOMPATYBILNOSC W WIELU PRZEGLADARKACH*/
}
input[type=text],
input[type=password] /*INFORMACJA, KTORE KONKRETNIE INPUTY CHCEMY STYLIZOWAC*/
{
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd; /*OBRAMOWANIE POLA*/
    border-radius: 5px; /*ZAOKRAGLA ROGI*/
    font-size: 20px; /*INPUT NIE DZIEDZICZY ROZMIARU CZCIONKI PO BODY, USTAWIA WYSOKOSC POLA*/
    padding: 10px; /*ODEJMUJE OD WYDZIELONYCH 300PX */
    box-sizing: border-box; /*DOMYSLNY SPOSOB DLA INPUTA SUBMIT, SZEROKOSC DEFINIOWANA JEST W CSS I JEST STALA, PADDING JEST ODEJMOWANY OD DOSTEPNEJ, OKRESLONEJ W CSS PRZESTRZENI*/
    outline: none; /*WYLACZAMY OBECNOSC DOMYSLNEJ OBWODKI WOKOL POLA*/
    margin-top: 10px;
}
input[type=text]:focus,
input[type=password]:focus /*OSTYLOWANIE ZYSKANIA AKTYWNOSCI PRZEZ POLE*/
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75); /*WYROZNIENIE AKTYWNOSCI W POSTACI CIENIA*/
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    border: 2px solid #a5cda5; /*OBRAMOWANIE*/
    background-color: #e9f3e9; /*KOLOR POLA*/
    color: #428c42; /*KOLOR CZCIONKI*/
}
input[type=submit]
{
    width: 300px;
    background-color: #36b03c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
    border: none; /*USUWA OBRAMOWANIE*/
    border-radius: 5px; /*ZAOKRAGLA ROGI*/
    cursor: pointer; /*ZMIENIA KURSOR*/
    letter-spacing: 2px; /*ROZSTRZELENIE LITER*/
    outline: none; /*WYLACZAMY OBECNOSC DOMYSLNEJ OBWODKI WOKOL POLA*/
}
input[type=submit]:focus
{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75); /*WYROZNIENIE AKTYWNOSCI W POSTACI CIENIA*/
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75); /*POZIOM/ PION/ PROMIEN ROZMYCIA/ ZASIEG*/ 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75); /*POZIOM/ PION/ PROMIEN ROZMYCIA/ ZASIEG*/
}
input[type=submit]:hover /*OSTYLOWANIE PO NAJECHANIU KURSOREM NA POLE*/
{
    background-color: #37b93d; /*ZMIANA KOLORU TLA PRZYCISKU PO NAJECHANIU KURSOREM*/
}
input::-webkit-input-placeholder /*KOLOR FONTA PLACEHOLDERA, KIEDY NIE JEST AKTYWNY*/
{
    color: #999;
}
/*
input:focus::-webkit-input-placeholder KOLOR FONTA PLACEHOLDERA, KIEDY JEST AKTYWNY. W TEJ WERSJI FORMULARZA SA NIEPOTRZEBNE, PONIEWAZ ZA POMOCA JS KASUJEMY PLACEHOLDERA
{
    color: #428c42;
}
*/